<div class="formulario">
	<div>
			<spt-mensagem-erro form="formAtivar" mensagem-servidor="mensagemServidor"></spt-mensagem-erro>
		<form id="formModal" class="modal-form" ng-submit="formAtivar.$valid && ativar()"  name="formAtivar" novalidate>
			<div class="form-group">
				<div class="col-md-12" ng-if="perguntaDetalhes.registro.Situacao.id == 'A' || perguntaDetalhes.registro.Situacao.id == 'S'">
					<p>Informe o motivo da inativação:*</p>
					<select class="form-control" ng-model="perguntaDetalhes.motivo" id="motivo" name="motivo" ng-options="motivo.descricao for motivo in motivoLista" required>
						<option value="" required>Selecione</option>
					</select>
					<div class="row">
						<span class="legendas"><em>* Campo Obrigatório</em></span>
					</div>
				</div>
				<div class="col-md-12" ng-if="perguntaDetalhes.registro.Situacao.id == 'I'">
					<p>Tem certeza que deseja reativar?</p>
				</div>
			</div>
		</form>
	</div>
</div>