<section>
	<div class="row conteudo-interno" cg-busy="espera">
		<div class="row">
			<div class="col-sm-6 col-md-8">
				<em class="titulo-interno">Parametrização do Período de Confiança</em>
			</div>
		</div>
		<div class="row" >
			<div class="col-md-12">
				<div class="formulario">
					<div class="ng-class: mensagemControle.class;" ng-if="mensagemControle">
						<span ng-bind="mensagemControle.data.mensagem"></span>
					</div>
					<div class="bloco">
						<form id="form-score" class="form-parametrizacao form-periodo" ng-submit="salvar()" name="formScore" novalidate>
							<div class="form-group">
								<spt-data-intervalo inicio="inicio" fim="fim" classe-label="col-md-2" required="true"></spt-data-intervalo>
							</div>
							<div class="form-group acoes">
								<button type="button" ng-click="cancelar()" class="bt bt-padrao bt-cancelar" form="formScore">
								<mark class="cor"></mark>
								Cancelar
								</button>
								<button type="submit" class="bt bt-padrao" >
								<mark class="cor"></mark>
								Salvar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
