 <section>
	<div class="row conteudo-interno" cg-busy="espera">
		<div class="row">
			<div class="col-sm-6 col-md-8">
				<em class="titulo-interno">Pesquisar Faq</em>
			</div>
			<div class=" col-sm-6 col-md-4">
				<button class="bt bt-incluir" spt-modal-acao 
					modulo="faq" caminho-modulo="faq" acao="incluir" 
					titulo="Incluir">
				    <i class="fa fa-plus-circle" aria-hidden="true"></i> Incluir Faq
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="formulario">
					<spt-filtro caminho-modulo="faq" nome-filtro="faq"></spt-filtro>
				</div>
			</div>
		</div>
		<div class="mensagem" ng-if="!!mensagemServidor">
			<p><em ng-bind="mensagemServidor.descricao"></em></p>
		</div>
		<div class="mensagem" ng-show="faqs.dataExcecao">
			<p>Não há registro retornado na pesquisa.</p>
		</div>
		<div ng-repeat="categoriaFaq in categoriasFaq | filter : filtro.categoria" class="row resultados" ng-show="categoriaFaq.faqs.length">
			<div class="col-md-12">
				<strong ng-bind="categoriaFaq.descricao"></strong>
			</div>
			<div class="col-md-12">
				<table class="tabela" width="100%">
					<thead class="tabela-cabecalho">
						<tr>
							<th style="text-align:center;width:120px;">Ordenação</th>
							<th>Pergunta</th>
							<th>Resposta</th>
							<th style="text-align:center;width:220px;">Ação</th>
						</tr>
					</thead>
					<tbody class="tabela-conteudo" ng-model="faqs">
						<tr dir-paginate="faq in categoriaFaq.faqs | itemsPerPage : ITENS_POR_PAGINA " ng-show="categoriaFaq.faqs.length">
							<td class="celula" ng-bind="faq.nrOrdenacao"></td>
							<td class="celula">{{ faq.txPerguntaFrequente | limitTo: 40 }} {{ faq.txPerguntaFrequente.length > 40 ? '...' : '' }}</td>
							<td class="celula">{{ faq.txRespostaFaq | limitTo: 40 }} {{ faq.txRespostaFaq.length > 40 ? '...' : '' }}</td>
							<td class="celula tabela-acoes">
								<i class="fa fa-arrow-down"
									tooltip-placement="left" aria-hidden="true" uib-tooltip="Mover Abaixo"  titulo="Mover Abaixo"
									ng-show="categoriaFaq.faqs.length > 1 && faq.nrOrdenacao < categoriaFaq.faqs.length && faq.nrOrdenacao > 0"
									ng-click="moverItem('down',faq)"
									callback="preFiltrar()"></i>
								<i class="fa fa-arrow-up"
									tooltip-placement="left" aria-hidden="true" uib-tooltip="Mover Acima"  titulo="Mover Acima"
									ng-show="categoriaFaq.faqs.length > 1 && faq.nrOrdenacao <= categoriaFaq.faqs.length && faq.nrOrdenacao > 1"
									ng-click="moverItem('up',faq)"
									callback="preFiltrar()"></i>
								<i class="fa fa-search" spt-modal-acao acao="detalhes" objeto="faq" modulo="faq" caminho-modulo="faq" 
									tooltip-placement="left" uib-tooltip="Consultar Detalhes" titulo="Consultar Detalhes" tamanho="medio" 
									aria-hidden="true"></i>
								<i class="fa fa-pencil" spt-modal-acao acao="editar" objeto="faq" modulo="faq" caminho-modulo="faq" 
									tooltip-placement="left" uib-tooltip="Editar" titulo="Editar"
									aria-hidden="true"
									callback="preFiltrar()"></i>

								<spt-botao-alternar condicao="faq.registro.situacao.id =='A' "
									texto-verdadeiro="Inativar" 
									texto-falso="Reativar" 
									classe-verdadeiro="ativo" 
									modulo="faq" 
									objeto="faq" 
									acao="ativar" 
									posicao="bottom" icone="fa-check" 
									titulo-verdadeiro="Inativar" titulo-falso="Reativar"
									ng-class="faq.registro.situacao.id == 'A' ? 'corVerde' : 'corCinza' "
									callback="preFiltrar()"
									></spt-botao-alternar>

								<i class="fa fa-times" spt-modal-acao acao="excluir" objeto="faq" modulo="faq" caminho-modulo="faq" callback="preFiltrar()"
									tooltip-placement="left" uib-tooltip="Excluir" titulo="Excluir" 
									aria-hidden="true"
									callback="preFiltrar()"></i>
							</td>
						</tr>
						<tr ng-show="categoriaFaq.faqs.length">
							<td colspan="4" align="right">Total de Faqs Cadastrados: {{ categoriaFaq.faqs.length }}</td>
						</tr>
					</tbody>
				</table>

				<div class="paginacao col-md-12">
					<dir-pagination-controls boundary-links="true" template-url="app/comum/templates/paginacao.diretiva.html"></dir-pagination-controls>
				</div>

			</div>
		</div>
		<div class="row text-center" ng-show="categoriaFaq.faqs.length == 0">Não há registro retornado na pesquisa.</div>

	</div>
</section>
