<div class="formulario">
	<div>
		<spt-mensagem-erro form="formSam" mensagem-servidor="mensagemServidor"></spt-mensagem-erro>
		<form id="formModal" class="modal-form" ng-submit="formSam.$valid && ativar()"  name="formSam" novalidate>
			<div class="form-group">
				<div class="col-md-12" ng-if="sam.registro.situacao.id == 'A' || sam.registro.situacao.id == 'S'">
					<p>Informe o motivo da inativação:*</p>
					<select class="form-control" ng-model="sam.registro.motivo" id="motivo" name="motivo" ng-options="motivo.descricao for motivo in motivoLista" required>
						<option value="">Selecione</option>
					</select>
					<div class="row">
						<span class="legendas"><em>* Campo Obrigatório</em></span>
					</div>
				</div>

				<div class="col-md-12" ng-if="sam.registro.situacao.id == 'I'">
					<p>Tem certeza que deseja reativar?</p>
				</div>
			</div>
		</form>
	</div>
</div>