<div class="form-group">
<spt-mensagem-erro form="formCredito" mensagem-servidor="mensagemServidor" ></spt-mensagem-erro>
<div class="ng-class: mensagemControle.class;" ng-if="mensagemControle">
	<span ng-bind="mensagemControle.data.mensagem"></span>
</div>
<div class="espac"></div>
<div class="form-group">
	<label class="col-md-3 control-label">Categoria da Pergunta:</label>
	<div class="col-md-4">
		<select 
			class="form-control"
			ng-model="filtro.CategoriaPergunta"
			ng-options="tipo.descricao for tipo in CategoriaPergunta">
			<option value="">Selecione a Categoria da Pergunta...</option>>
		</select>
	</div>
</div>
<div class="form-group">
	<label class="col-md-3 control-label">Pergunta:</label>
	<div class="col-md-6">
		<input type="text" class="form-control" id="pergunta" ng-model="filtro.textoPergunta" restrict="reject" validate="false" clean="true">
	</div>
</div>