<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="cpf" class="col-md-5 control-label">CPF:</label>
            <div class="col-md-7">
                <input type="text" maxlength="12" class="form-control" ng-model="filtroCadastro.cpf" id="cpf" name="cpf">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="numeroDocumento" class="col-md-5 control-label">Nº Documento:</label>
            <div class="col-md-7">
                <input type="text" maxlength="12" class="form-control" ng-model="filtroCadastro.numeroDocumento" id="numeroDocumento" name="numeroDocumento">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="dataNascimento" class="col-md-5 control-label">Data Nascimento:</label>
            <div class="col-md-7">
                <input type="text" maxlength="12" class="form-control" ng-model="filtroCadastro.dataNascimento" id="dataNascimento" name="dataNascimento">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="nomeCidadao" class="col-md-2 control-label">Nome Cidadão:</label>
            <div class="col-md-10">
                <input type="text" maxlength="12" class="form-control" ng-model="filtroCadastro.nomeCidadao" id="nomeCidadao" name="nomeCidadao">
            </div>
        </div>
    </div>
</div>