<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="numeroLogico" class="col-md-3 control-label">Número Lógico:</label>
            <div class="col-md-9">
                <input type="text" maxlength="12" class="form-control" ng-model="filtroCartao.numeroLogico" id="numeroLogico" name="numeroLogico">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="numeroFisico" class="col-md-3 control-label">Número Físico:</label>
            <div class="col-md-9">
                <input type="text" maxlength="12" class="form-control" ng-model="filtroCartao.numeroFisico" id="numeroFisico" name="numeroFisico">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="tipoCasco" class="col-md-3 control-label">Tipo de Casco:</label>
            <div class="col-md-7">
                <select class="form-control" ng-model="filtroCartao.tipoCasco" id="tipoCasco" name="tipoCasco" ng-options="tipoCasco.descricao for tipoCasco in tipoCascos" required>
					<option value="" selected="selected">Selecione</option>
				</select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="tipoCartao" class="col-md-3 control-label">Tipo de Cartão:</label>
            <div class="col-md-7">
                <select class="form-control" ng-model="filtroCartao.tipoCartao" id="tipoCartao" name="tipoCartao" ng-options="tipoCartao.descricao for tipoCartao in tipoCartoes" required>
					<option value="" selected="selected">Selecione</option>
				</select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="situacaoCartao" class="col-md-3 control-label">Situação do Cartão:</label>
            <div class="col-md-7">
                <select class="form-control" ng-model="filtroCartao.situacaoCartao" id="situacaoCartao" name="situacaoCartao" ng-options="situacaoCartao.descricao for situacaoCartao in situacaoCartoes" required>
					<option value="" selected="selected">Selecione</option>
				</select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="situacao" class="col-md-3 control-label">Situação:</label>
            <div class="col-md-7">
                <select class="form-control" ng-model="filtroCartao.situacao" id="situacao" name="situacao" ng-options="situacao.descricao for situacao in situacoes" required>
                    <option value="" selected="selected">Selecione</option>
				</select>
            </div>
        </div>
    </div>
</div>